@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto+Slab:wght@300&display=swap');

/*----------Colors*/

body {
    background-color: #eeeeee;
}

.bg-color-name{
    background-color: #d50000;
}

.ui-nav-color{
    background-color: #d50000;
}

a, a:hover{
    color: #fff;
}

.logo:hover{
    background-color: #9b0000;
}

.list-inline-item:hover{
    background-color: #9b0000;
}

.bg-styling:hover{
    background-color: #9b0000;
}
/*----------Special Styling*/

.general-sub{
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    padding: 0;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

#nav li:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.bg-styling{
    width: 28px;
    color: #fff;
    background-color: #d50000;
}

.bg-styling:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}


/*----------Header*/

header{
    margin: 0;
}

.heading {
    margin: 25px;
}

.logo {
    background:url(/images/CCLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d50000;
    min-height: 134px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    display: inline-block;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

ul {
    margin: 0;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size: 0;
}

#nav li{
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    text-align: center;
}

/*----------Content*/

/*----------Footer*/

footer {
    background-color: #d50000;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    min-height: 136px;
    margin: 0 auto;
}

.social-links{
    font-size: 1.5rem;
    width: 100%;
}