@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto+Slab:wght@300&display=swap');

/*----------Colors*/

/*----------Colors for header*/
body {
    background-color: #eeeeee;
}
.bg-color-name{
    background-color: #d50000;
}
.ui-nav-color{
    background-color: #d50000;
}
a, a:hover{
    color: #fff;
}
.list-inline-item:hover{
    background-color: #9b0000;
}
.bg-styling:hover{
    background-color: #9b0000;
}

/*----------Special Styling*/

.general-sub{
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    padding: 0;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.nav li:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.bg-styling{
    width: 28px;
    color: #fff;
    background-color: #d50000;
}
.bg-styling:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
/*----------Styling for navigation menu on smaller screen sizes. Utilised @media rule and modified extensively from https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
@media only screen and (max-width: 600px) {


    .nav li{
        font-weight: 400;
        font-size: 20px;
        padding: 0;
        text-align: center;
    }

}

/*----------Header*/

.container-body {
    padding: 0;
}

header{
    margin: 0;
}

.heading {
    margin: 25px;
}

.logo {
    background:url("../images/CCLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d50000;
    min-height: 134px;
    display: inline-block;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
    text-align: center;
    float: left;
}

ul {
    margin: 0;
}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}

/*----------Styling for navigation menu on smaller screen sizes. Utilised @media rule and modified extensively from https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
@media only screen and (min-width: 601px) {

    .nav li{
        font-weight: 400;
        font-size: 24px;
        padding: 0;
        text-align: center;
        margin: auto;
    }
}

/*----------Content*/

/*---------- Carousel styling*/

/*Index.html carrousel styling*/

.carousel-container{
    height: 30%;
    width: 100%;
    padding: 0;
}

.carousel {
    height: 30%;
}

.carousel-caption{
    font-family: 'Almarai', sans-serif;
    color: #eeeeee;
    font-weight: 300;
    font-size: 20;
    text-shadow: 1px 1px #000000
}

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

/*----------Google map and info*/

/*----------Utilised @media rule and modified extensively from https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
@media only screen and (max-width: 769px) {

    .opening {
        text-align: center;
        margin: auto;
    }

}

.info {
    font-family: 'Almarai', sans-serif;
    font-size: 20;
    color: #000;
    text-align: center;
}

.google-maps {
    padding-top: 10px;
}

.address{
    display: inline;
    padding-left: 20px;
}

.address h2 {
    border: 10px;
    margin: 5px;
    padding: 10px;
}

#location {
    list-style-type: none;
    border: 10px;
    margin: 5px;
    padding: 10px;
}

.opening {
    float: left;
    padding: 0;
}

.opening h2 {
    border: 10px;
    margin: 5px;
    padding: 10px;
}

#times {
    list-style-type: none;
    border: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

/*----------About Us Content*/

#about-us-bg {
    background:url("../images/about-us.jpeg");
    background-repeat: no-repeat;
    background-color: #eeeeee;
    background-size: cover;
    padding: 0;
    margin: auto;
    height: 50%;
}

#about-info {
    background-color: rgba(140, 140, 140, 0.3);
    color: #fff;
    padding: 16px;
}

#about-info a {
    color: #d50000;
}

#about-info a:hover {
    color: #d50000;
    text-decoration: underline;
}

#about-heading {
    font-family: 'Almarai', sans-serif;
    font-size: 28px; 
    text-align: center;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
}

.about-text {
    font-family: 'Almarai', sans-serif;
    font-size: 18px; 
    text-align: center;
    color: #fff;
    opacity: 1;
    padding: 20px;
}

/*----------Contact Us content*/

#contact-us-bg {
    background:url("../images/contact-us-bg.jpeg");
    background-repeat: no-repeat;
    background-color: #eeeeee;
    background-size: cover;
    padding: 0;
    height: 100%;
}

.jumbotron {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    background-color: #d50000;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.jumbotron h1 {
    text-decoration: underline;
}

#contact-form {
    background-color: rgba(140, 140, 140, 0.3);
    color: #fff;
    padding: 16px;
}

#contact-heading {
    font-family: 'Almarai', sans-serif;
    font-size: 28px; 
    text-align: center;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
}

.contact-text {
    font-family: 'Almarai', sans-serif;
    font-size: 18px; 
    text-align: center;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 3px;
}

/*----------Modified from https://www.w3schools.com/tags/tag_textarea.asp*/

textarea {
    width: 240px;
    display: inline-block;
    border: 1px solid #d50000;
}

/*----------Menu content*/

#menu-bg {
    background:url("../images/menu-bg.jpg");
    background-repeat: no-repeat;
    background-color: #eeeeee;
    background-size: cover;
    padding: 0;
    height: 100%;
}

#menu-box {
    background-color: rgba(140, 140, 140, 0.8);
    color: #fff;
    padding: 16px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#menu-box h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 10px;
    text-decoration:  underline;
    text-decoration-style: double;
}

#menu-row {
    border-top: solid 2px #fff;
    padding: 10px;
}

.menu-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
}

.menu-items {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

/*----------Newsletter Signup (Modified from https://www.w3schools.com/howto/howto_css_newsletter.asp)*/

form {
    padding: 10px;
}

form .container {
    padding: 5px;
    text-align: center;
    font-family: 'Almarai', sans-serif;
    color: #000000
}

form .container p {
    margin: 0px;
}

input[type=text] {
    width: 240px;
    display: inline-block;
    border: 1px solid #d50000;
}

input[type=submit] {
    background-color: #d50000;
    color: #fff;
    border: none;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #9b0000;
    color: #fff;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

form .about-newsletter {
    color: #fff;
    text-shadow: 1px 1px #000;
}

form .contact-newsletter {
    color: #fff;
    text-shadow: 1px 1px #000;
}

form .menu-newsletter {
    color: #fff;
    text-shadow: 1px 1px #000;
}
/*----------Footer*/

footer {
    background-color: #d50000;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    min-height: 136px;
    margin: 0 auto;
}

.social-links{
    font-size: 1.5rem;
    width: 100%;
}
