@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto+Slab:wght@300&display=swap');

/*----------Colors*/

body {
    background-color: #eeeeee;
}
.bg-color-name{
    background-color: #d50000;
}
.ui-nav-color{
    background-color: #d50000;
}
a, a:hover{
    color: #fff;
}

.list-inline-item:hover{
    background-color: #9b0000;
}
.bg-styling:hover{
    background-color: #9b0000;
}

/*----------Special Styling*/

.general-sub{
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    padding: 0;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.nav li:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.bg-styling{
    width: 28px;
    color: #fff;
    background-color: #d50000;
}
.bg-styling:hover{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

@media only screen and (max-width: 600px) {


    .nav li{
        font-weight: 400;
        font-size: 20px;
        padding: 0;
        text-align: center;
    }

}

/*----------Header*/

header{
    margin: 0;
}

.heading {
    margin: 25px;
}

.logo {
    background:url(/images/CCLogo.png);
    background:url("../images/CCLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d50000;
    min-height: 134px;
    display: inline-block;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
    text-align: center;
    float: left;
}

ul {
    margin: 0;
}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}

@media only screen and (min-width: 601px) {

    .nav li{
        font-weight: 400;
        font-size: 24px;
        padding: 0;
        text-align: center;
        margin: auto;
    }
}

/*----------Content*/

/*---------- Carousel styling*/

.container-fluid{
    height: 30%;
    width: 100%;
    padding: 0;
}

.carousel {
    height: 30%;
}

.carousel-caption{
    font-family: 'Almarai', sans-serif;
    color: #eeeeee;
    font-weight: 300;
    font-size: 20;
    text-shadow: 1px 1px #000000
}

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

/*----------Google map and info*/
@media only screen and (max-width: 769px) {

    .opening {
        text-align: center;
        margin: auto;
    }

}

.info {
    font-family: 'Almarai', sans-serif;
    font-size: 20;
    color: #000;
    text-align: center;
}

.google-maps {
    padding-top: 10px;
}

.address{
    display: inline;
    padding-left: 20px;
}

.address h2 {
    border: 10px;
    margin: 5px;
    padding: 10px;
}

#location {
    list-style-type: none;
    border: 10px;
    margin: 5px;
    padding: 10px;
}

.opening {
    float: left;
    padding: 0;
}

.opening h2 {
    border: 10px;
    margin: 5px;
    padding: 10px;
}

#times {
    list-style-type: none;
    border: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

/*----------Newsletter Signup*/

form {
    padding: 10px;
}

form .container {
    padding: 5px;
    text-align: center;
    font-family: 'Almarai', sans-serif;
    color: #000000
}

form .container p {
    margin: 0px;
}

input[type=text] {
    width: 240px;
    display: inline-block;
    border: 1px solid #d50000;
}

input[type=submit] {
    background-color: #d50000;
    color: #fff;
    border: none;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #9b0000;
    color: #fff;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*----------Footer*/

footer {
    background-color: #d50000;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    min-height: 136px;
    margin: 0 auto;
}

.social-links{
    font-size: 1.5rem;
    width: 100%;
}
